/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 26px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#todo-input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #2e2e2e;
  color: white;
  font-size: 16px;
}

#todo-input::placeholder {
  color: #b3b3b3;
}

#add-task-btn {
  padding: 12px;
  background-color: #8000ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
}

#add-task-btn:hover {
  background-color: #6600cc;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  background-color: #2e2e2e;
  color: white;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}

#todo-list li button {
  background-color: #ff3b3b;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

#todo-list li button:hover {
  background-color: #cc0000;
}
.completed {
  text-decoration: line-through;
}
